ion-menu.md ion-content {
  --padding-start: 8px;
  --padding-end: 8px;
  --padding-top: 20px;
  --padding-bottom: 20px;
}

ion-menu.md ion-list {
  padding: 20px 0;
}

ion-menu.md ion-note {
  margin-bottom: 30px;
  padding-left: 10px;

  font-size: 14px;
  color: var(--ion-color-step-600, #666666);
}

ion-menu.md ion-list-header {
  font-size: 20px;
  font-weight: 700;
  letter-spacing: -0.5px;
}

ion-menu.md ion-item {
  --padding-start: 10px;
  --padding-end: 10px;
  --min-height: 50px;
  --border-radius: 8px;
}

ion-menu.md ion-item.selected {
  --background: rgba(var(--ion-color-primary-rgb), 0.12);
  --color: var(--ion-color-primary);
}

ion-menu.md ion-item.selected ion-icon {
  color: var(--ion-color-primary);
}

ion-menu.md ion-item ion-icon {
  color: #616e7e;
}

.help-fab-text {
  font-size: 1.3rem;
  font-weight: bold;
}
