<ion-content class="ion-padding ion-text-center">
  <div class="login-container">
    <ion-card>
      <ion-card-header>
        <ion-card-title>ArchivEx Admin</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p *ngIf="errorMessage" class="error-msg">{{ errorMessage }}</p>
        <ion-item>
          <ion-label position="stacked">Email Administrateur</ion-label>
          <ion-input type="email" [(ngModel)]="email" placeholder="admin@archivex.edu"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="stacked">Mot de passe</ion-label>
          <ion-input type="password" [(ngModel)]="password"></ion-input>
        </ion-item>
        <ion-button expand="block" class="ion-margin-top" (click)="login()" [disabled]="loading">
          <ion-spinner *ngIf="loading"></ion-spinner>
          <span *ngIf="!loading">Se connecter</span>
        </ion-button>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
